<div class="col-lg  col-md-6 col-sm-12 col">
    <form action="{% url 'main:search' %}" class="search" method='GET'>
        <div class="input-group w-100">
            <input type="text" class="form-control" style="width:60%;" name='search'  placeholder="Search">
            
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
        </div>
    </form> <!-- search-wrap .end// -->
</div>