<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
        <a class="list-group-item {% if '/account/' == request.path %}active{% endif %}" href="{% url "account:dashboard" %}"> Dashboard </a>
        <a class="list-group-item {% if 'my_orders' in request.path %} active{% endif %}" href="{% url "account:my_orders" %}"> My Orders </a>
        <a class="list-group-item {% if 'edit_profile' in request.path %} active{% endif %}" href="{% url "account:edit_profile" %}"> Edit My Profile </a>
        <a class="list-group-item {% if 'changePassword' in request.path %} active{% endif %}" href="{% url "account:changePassword" %}">Change Password </a>
    </ul>
    <br>
    <a class="btn btn-light btn-block" href="{% url 'account:logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
    <!--   SIDEBAR .//END   -->
</aside>
